# Homework4

## Question 1: Data Preparation

#### Preprocess
A matrix with coulumn being student applicants, row being academic departments. <br>
1 denotes that student applied for that department, 0 otherwise. <br>
Filter:
1. departments receive >= 10 applications
2. students apply for > 1 departments

(while)

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
student_apply = pd.read_csv('student_admission106.csv', encoding="utf-8", dtype=str)
department = pd.read_csv('univ_name106short1.csv', encoding="utf-8", dtype=str)

student_apply

,school_id,department_id,student_id,student_name,state,location1,location2
0,001,001012,10246842,黃士玹,正1,南部,台南考區
1,001,001012,10042237,黃冠婷,正2,北部,台北考區
2,001,001012,10008031,鍾大方,正3,北部,台北考區
3,001,001012,10201525,曾信豪,正4,中部,彰化考區
4,001,001012,10014615,陳品儒,正5,北部,台北考區
...,...,...,...,...,...,...,...
181262,151,151022,10277940,None,NaN,南部,高雄考區
181263,151,151022,10279214,None,NaN,南部,高雄考區
181264,151,151022,10291919,陳詠舜,NaN,南部,屏東考區
181265,151,151022,10300601,胡昱凡,NaN,東部,花蓮考區
181266,151,151022,19310303,None,NaN,北部,桃園考區

In [4]:
department

,year,school_id,department_id,school_name,department_name,category_id,category_name,school_name_abbr,department_name_abbr
0,106,006,006042,國立政治大學,教育學系,1,教育,政大,教育
1,106,006,006052,國立政治大學,教育學系(公費生),1,教育,政大,教育(公)
2,106,006,006062,國立政治大學,教育學系(原住民公費生),1,教育,政大,教育(原住民)
3,106,006,006022,國立政治大學,歷史學系,2,藝術及人文,政大,歷史
4,106,006,006152,國立政治大學,民族學系,2,藝術及人文,政大,民族學
...,...,...,...,...,...,...,...,...,...
1996,106,099,099212,國立臺北大學,飛鳶組招生,99,其他,臺北,飛鳶組
1997,106,108,108182,慈濟大學,不分系招生(新芽A組),99,其他,慈濟,不分系(新A)
1998,106,108,108192,慈濟大學,不分系招生(新芽B組),99,其他,慈濟,不分系(新B)
1999,106,108,108202,慈濟大學,不分系招生(新芽C組),99,其他,慈濟,不分系(新C)
2000,106,112,112062,康寧大學,企業管理學系(臺南校區),99,其他,康寧,企管(臺南)

In [5]:
# uni_student_list = student_apply['student_id'].unique()
# dept_list = student_apply['department_id'].unique()
# student_name_group = student_apply.groupby('student_id')
# department_group = student_apply.groupby('department_id')
print("raw length of the table: %d" % len(student_apply))
constraint_count = 1
while(constraint_count != 0):
    stu_drop_idx = []
    dept_drop_idx = []
    ddrop = []
    studrop = []

    # get the new deparment list and groups after dropping some observations
    department_group = student_apply.groupby('department_id')
    # select department to drop
    for depid, df in department_group:
        if len(df) < 10:
            constraint_count+=1
            ddrop.append(depid)
            for i in range(len(df)):
                dept_drop_idx.append(df.index[i])
    # drop departments with less than 10 applicants
    print("current students:", len(student_apply))
    student_apply = student_apply.drop(dept_drop_idx)
    print("dept to drop:", len(ddrop))
    print("students left:", len(student_apply))

    student_name_group = student_apply.groupby('student_id')
    constraint_count = 0
    # select student to drop
    for stuid, df in student_name_group:
        if len(df) <= 1:
            constraint_count+=1
            studrop.append(stuid)
            for i in range(len(df)):
                stu_drop_idx.append(df.index[i])
    # drop students who apply for less than 2 departments
    student_apply = student_apply.drop(stu_drop_idx)
    print("stu to drop:", len(studrop))
    print("students left:", len(student_apply))
    
print("final length of the table: %d" % len(student_apply))

raw length of the table: 181267
current students: 181267
dept to drop: 45
students left: 181017
stu to drop: 13005
students left: 168012
current students: 168012
dept to drop: 13
students left: 167918
stu to drop: 32
students left: 167886
current students: 167886
dept to drop: 1
students left: 167877
stu to drop: 0
students left: 167877
final length of the table: 167877

In [6]:
df = student_apply[['department_id', 'student_id']].copy()
df2 = pd.crosstab(df.department_id, df.student_id)
df2

student_id,10000101,10000110,10000111,10000112,10000114,10000116,10000120,10000121,10000125,10000126,...,19710702,19710703,19710708,19710709,19770103,19810104,19810201,19810202,19840201,19950101
department_id,,,,,,,,,,,,,,,,,,,,,
001012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001052,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Q1.1 
Report the number of academic departments and student applicants in your dataset.

In [7]:
uni_student_list = student_apply['student_id'].unique()
total_application = student_apply['student_id']
dept_list = student_apply['department_id'].unique()
print("There are %d departments, %d student applicants (%d applications) in the dataset." % (len(dept_list), len(uni_student_list), len(total_application)))

There are 1917 departments, 47386 student applicants (167877 applications) in the dataset.

#### Q1.2
Report the top ten departments that received the most applications and the number of applications they received.<br> Identify the department by its department_id and names.

In [8]:
df_rank = df.groupby(['department_id']).count().sort_values(by=['student_id'], ascending=False)
df_rank = df_rank[0:10]
top_ten = df_rank.index
for i in range(len(top_ten)):
    school = department.loc[department['department_id'] == top_ten[i], 'school_name'].iloc[0]
    dept = department.loc[department['department_id'] == top_ten[i], 'department_name'].iloc[0]
    num_of_student = df_rank['student_id'][i]
    print("%d. id: %s name: %s %s number of applications: %d" % (i+1, top_ten[i], school, dept, num_of_student))

1. id: 008122 name: 中原大學 機械工程學系 number of applications: 386
2. id: 012052 name: 中國醫藥大學 藥學系 number of applications: 376
3. id: 046032 name: 銘傳大學 會計學系（臺北校區） number of applications: 367
4. id: 004382 name: 國立成功大學 電機工程學系 number of applications: 357
5. id: 008112 name: 中原大學 土木工程學系 number of applications: 353
6. id: 005192 name: 東吳大學 企業管理學系 number of applications: 353
7. id: 005182 name: 東吳大學 會計學系 number of applications: 351
8. id: 015342 name: 逢甲大學 財務金融學系 number of applications: 340
9. id: 045012 name: 義守大學 電機工程學系 number of applications: 339
10. id: 015222 name: 逢甲大學 資訊工程學系 number of applications: 329

## Question 2: Explore

- color data points according to the academic department's category
- legend or a picture that illustrates the mapping between colors and category names

#### Q2.1
Visualize academic departments using the first eight principal components.<br>
Use your judgment to select multiple pairs of principal components to visualize. <br> 
Discuss the visual patterns with respect to department categories.

In [9]:
from sklearn.decomposition import PCA

In [14]:
pca = PCA(n_components = 8)
principle_components = pca.fit_transform(df2)
df_pc = pd.DataFrame(data = principle_components, columns = ['pc1', 'pc2', 'pc3', 'pc4', 'pc5', 'pc6', 'pc7', 'pc8'])
df_pc

,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8
0,-0.032221,-0.011184,-0.180695,-0.035626,0.099972,-0.008208,-0.104248,-0.048116
1,0.195066,-0.011530,-0.237140,-0.064377,0.141680,0.032123,-0.260751,-0.205070
2,-0.037604,-0.011647,-0.206784,-0.055520,0.091338,0.012057,-0.112662,-0.076021
3,0.003694,-0.018786,-0.165314,-0.049970,0.068495,0.010308,-0.098292,-0.026911
4,-0.015898,-0.000995,-0.152203,-0.030454,0.081004,-0.005021,-0.084422,-0.026691
...,...,...,...,...,...,...,...,...
1912,-0.076735,-0.008634,-0.120978,-0.060151,0.063113,0.028493,-0.109381,-0.009881
1913,-0.086591,-0.010692,-0.138751,-0.071869,-0.043178,-0.022173,-0.030078,-0.017024
1914,-0.094556,-0.010771,-0.140225,0.029190,-0.139400,0.056222,0.045010,0.006018
1915,-0.085102,-0.012499,-0.084323,-0.088047,-0.021548,-0.070661,-0.018349,0.022428
1916,-0.050535,-0.003495,-0.109338,-0.023116,0.053011,0.012082,-0.066175,-0.004961

In [ ]:
# handle adjacency matrix index
idx = df2.columns.union(df2.index)
df2 = df2.reindex(index = idx, columns = idx)
df2
# index df_pc with original department_id
# dept_id = df2.index
# df_pc = df_pc.reindex(index = dept_id)
# df_pc

#### Q2.2
Visualize academic departments using multiple dimensional scaling.<br> Consider both the metric and non-metric settings.

#### Q2.3
Visualize academic departments using Locally Linear Embedding.

(1) Use 20 neighbors to construct the weight matrix

(2) Use 40 neighbors to construct the weight matrix

 (3) Perform PCA transformation first, and use the first 100 principal components as the input to LLE (with 20 neighbors).

#### Q2.4
Visualize academic departments using Kernel PCA. <br>At least consider the RBF and Cosine kernel.

#### Q2.5 
Visualize academic departments using t-SNE. <br>Consider at least the Euclidian, Cosine, and Jaccard metric. Set numpy random seed so that the results can be repeated.

## Question 3: Refine

Select the most promising visualization method in the previous question and refine the result.<br>
- Color points by department category. 
- Label each data point with its name
- Try to reduce the problem caused by overlapping points and labels
- Output an image that is large enough so that a user can easily identify a department and its neighbors
(output the picture to a separate file and submit the file for grading)